* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  height: 100vh;
}

.app {
  height: 100vh;
  width: 100vw;
}

@media (min-width: 768px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

